body
  margin-left: 20px

  img
    height: 50px
    width: 50px
    position: absolute
    top: 10px
    left: 400px

#signin
  margin-top: 26px

.form-inline button
  margin-left: 16px

#participants
  float: left
  width: 20%

#chatroom
  margin-left: 30px
  margin-top: 60px
  float: left
  width: 70%

  > div
    height: 333px
    margin-bottom: 10px
    border: 1px solid #dddddd
    overflow-y: scroll

  table
    margin-bottom: 0
